# Google Cloud Service Account Credentials File Path
GOOGLE_CREDENTIALS_FILE=credentials.json

# Target Google Sheet Name
GOOGLE_SHEET_NAME=Your_Google_Sheet_Name_Here

# API Configuration
API_URL=https://fakestoreapi.com/products
API_TIMEOUT=15